<section class="ui raised segment">
  <div class="ui grid ">
    <div class="ui form six wide column">
      <div class="ui stacked segment">
        <form action="/admindelete" method="POST">
          <div class="ui dropdown" name="user">
            <input type="hidden" name="user">
            <div class="text">Select User</div>
            <i class="ui dropdown icon"></i>
            <div class="menu">
              {{#each users}}
                <div class="item" data-value={{_id}} >{{firstName}} {{lastName}}</div>
              {{/each}}
            </div>
          </div>
          <div class="ui divider"></div>
          <div>
            <button class="ui yellow submit button" name="delete" value="deleteTweet">Delete Tweets</button>
            <button class="ui red submit button" name="delete" value="deleteUser">Delete User</button>
          </div>
        </form>
        {{> formerror }}
      </div>
    </div>
    <aside class="two wide column">
      <img src="images/twitter4.png" class="ui medium image">
    </aside>
  </div>
</section>