{{> welcomemenu }}

  <section class="ui stacked segment">
    <div class="ui grid">
      <aside class="six wide column">
        <img src="images/twitter1.png" class="ui medium image">
      </aside>
      <article class="ten wide column">
        <header class="ui  header"> A simple implementation of a chat service </header>
        <p> Write your own little Tweets! </p>
      </article>
    </div>
  </section>